{% extends "base.html" %}
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Шалом, я автор этого детища</h1>
<section>
  <blockquote>
    <p>
      “The best or nothing!”
    </p>
    <cite>© Mercedes-Benz</cite>
  </blockquote>
</section>
<p>
  Привет, меня зовут Эйкити Онидзука, мне 22 года и я холост, запомните меня. Шутка. 
  Меня зовут Сергей, мне действительно 22 и я действительно холост. Пока что здесь будет не очень много информации. 
  Возможно в будущем эта страница будет расширена и приобретет более презентабельный вид.
  Пока оставлю несколько ссылок, где можно меня найти:
</p>
<ul>
  <li>VK - <a href='https://vk.com/khryashoff' target='_blank' title='До пятницы я совершенно свободен'>https://vk.com/khryashoff</a></li>
  <li>GitHub - <a href='https://github.com/Khryashoff' target='_blank' title='Я пока ещё даже не интерн, так что лучше в вк'>https://github.com/Khryashoff</a></li>
  <li>E-mail - <a href='study-assist@yandex.ru' target='_blank' title='Занимаюсь продажей курсачей'>study-assist@yandex.ru</a></li>
</ul>
<p>
  Сейчас я пытаюсь осовоить эту достаточно не простую для меня профессию, о которой мечтал очень долго и вот наконец взялся. 
  Временами обучение даётся очень нелегко, но я уверен, что терпение и труд сделают своё дело.
</p>
<p>
  У меня есть желтая резиновая свинюшка, с которой я иногда рассуждаю, пытаясь понять в чём проблема кода.
  Как не странно это действительно помогает. Возможно позднее когда у меня будет чуть больше времени и настроение 
  я добавлю фото своего рабочего места.
</p>
{% endblock %}
